#! /bin/sh
# /etc/init.d/shout
#
# Shout init script.

### BEGIN INIT INFO
# Provides:          shout
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start Shout at boot time.
# Description:       Enable Shout.
### END INIT INFO

PID=/var/run/shout.pid
BIN=/usr/bin/shout
SHOUT_HOME={{ shout_home }}
FOREVER_BIN=/usr/bin/forever

# Carry out specific functions when asked to by the system
case "$1" in
  start)
    echo "Starting Shout."
    $FOREVER_BIN start -a --pidFile $PID $BIN start 
    ;;
  stop)
    if [ -f $PID ]; then
      echo "Stopping Shout.";
      kill -TERM $(cat $PID);
      rm -f $PID;
    else
      echo "shout is not running.";
    fi
    ;;
  restart)
    echo "Restarting Shout."
    if [ -f $PID ]; then
      kill -TERM $(cat $PID);
      rm -f $PID;
    fi
    $FOREVER_BIN start -a --pidFile $PID $BIN start 
    ;;
  status)
    if [ -f $PID ]; then
      echo "Shout is running.";
    else
      echo "Shout is not running.";
      exit 3
    fi
    ;;
  *)
    echo "Usage: /etc/init.d/shout {start|stop|status|restart}"
    exit 1
    ;;
esac

exit 0
